<?xml version="1.0" encoding="UTF-8"?>
<web-app>


  <!--<welcome-file-list>-->
    <!--<welcome-file>/training/test.jsp</welcome-file>-->
  <!--</welcome-file-list>-->


  <!--TASK1-->
  <servlet>
    <servlet-name>LinkCounterServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.task1.LinkCounterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkCounterServlet</servlet-name>
    <url-pattern>/linkCounterServlet</url-pattern>
  </servlet-mapping>


  <!--TASK2-->
  <servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.task2.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/redirectServlet</url-pattern>
  </servlet-mapping>


  <!--TASK3-->
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.task3.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/dispatcherServlet</url-pattern>
  </servlet-mapping>

  <!--TASK4-->
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.task4.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/firstServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.task4.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/secondServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ThirdServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.task4.ThirdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdServlet</servlet-name>
    <url-pattern>/thirdServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RedirectServlet2</servlet-name>
    <servlet-class>com.clouway.jspandservlet.task4.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet2</servlet-name>
    <url-pattern>/redirectServlet2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ReceiverServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.task4.ReceiverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiverServlet</servlet-name>
    <url-pattern>/receiverServlet</url-pattern>
  </servlet-mapping>


  <!--TASK6-->
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.onlinebank.controllers.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.onlinebank.controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.onlinebank.controllers.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/depositServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.onlinebank.controllers.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/withdrawServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.onlinebank.controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>

  <filter>
  <filter-name>LoginVerificationFilter</filter-name>
  <filter-class>com.clouway.jspandservlet.onlinebank.controllers.LoginVerificationFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>LoginVerificationFilter</filter-name>
  <url-pattern>/onlinebank/userpage.jsp</url-pattern>

  </filter-mapping>
  <filter>
    <filter-name>BalanceFilter</filter-name>
    <filter-class>com.clouway.jspandservlet.onlinebank.controllers.BalanceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BalanceFilter</filter-name>
    <url-pattern>/onlinebank/userpage.jsp</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>UserOnlineTimeFilter</filter-name>
    <filter-class>com.clouway.jspandservlet.onlinebank.controllers.UserOnlineTimeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserOnlineTimeFilter</filter-name>
    <url-pattern>/onlinebank/userpage.jsp</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>IndexFilter</filter-name>
    <filter-class>com.clouway.jspandservlet.onlinebank.controllers.UsersOnlineCountFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IndexFilter</filter-name>
    <url-pattern>/onlinebank/index.jsp</url-pattern>
  </filter-mapping>




  <!--TASK7-->
  <servlet>
    <servlet-name>RegisterServlet2</servlet-name>
    <servlet-class>com.clouway.jspandservlet.registrationform.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet2</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>


  <!--TASK8-->
  <servlet>
    <servlet-name>CalculatorServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.onlinecalculator.CalculatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculatorServlet</servlet-name>
    <url-pattern>/calculator</url-pattern>
  </servlet-mapping>


  <!--TASK9-->
  <servlet>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.onlinebookcatalog.controllers.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/pageServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.onlinebookcatalog.controllers.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/bookServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.onlinebookcatalog.controllers.CommentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/commentServlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.clouway.jspandservlet.onlinebank.TestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>

  <!--<filter>-->
    <!--<filter-name>BookFilter</filter-name>-->
    <!--<filter-class>com.clouway.jspandservlet.onlinebookcatalog.controllers.PageFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>BookFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->

</web-app>
        
        
